<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Weather Journal</title>
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"
    ></script>
  </head>
  <body>
    <div id="app">
      <div class="main">
        <div class="holder headline"><span>Tripo</span><span>dream </span></div>
        <div class="main_wrapper">
          <div class="form">
            <form action="submit" class="search_form panel">
              <div class="input">
                <input type="text" id="city" class="input_field" required />
                <label class="input_label" for="city"
                  >Enter your destination city</label
                >
              </div>
              <div class="input">
                <input
                  type="text"
                  id="datepicker"
                  class="input_field"
                  required
                />
                <label class="input_label" for="datepicker">Dates</label>
              </div>

              <!-- <div class="input">
              <input type="date" class="input_field" id="start-date" required />
              <label class="input_label" for="start-date">Start Date</label>
            </div>
            <div class="input">
              <input type="date" class="input_field" id="end-date" required />
              <label class="input_label" for="end-date">End Date</label>
            </div> -->
              <div class="form-btn">
                <button id="generate" type="submit">&#x1F50D;</button>
              </div>
            </form>
          </div>

          <!-- Show trip details -->
          <div id="currentTripWrapper" class="panel">
            <section class="tripDetails">
              <h3 id="destination"></h3>
              <h5 id="departing"></h5>
              <div class="flight_container"></div>
              <hr id="current_trip_hr" class="hr" />
              <div>
                <span id="days-away" class="currentTripDates"></span>
              </div>
              <div class="cur_forecast">
                <div id="high_temp"></div>
                <img src="" alt="" id="temp_icon" />
                <p id="desc_weather"></p>
                <div id="low_temp"></div>
              </div>
              <div id="message_forecast"></div>
              <input type="text" hidden id="packing_items_list" />
              <input type="text" hidden id="notes_list" />
              <input type="text" hidden id="flight_list" />

              <!-- Trigger/Open The Modal -->
              <div class="trip_options">
                <button id="flight_btn" class="button_med">
                  Flight details
                </button>
                <button id="pack_list_btn" class="button_med"></button>
                <button id="note_btn" class="button_med"></button>
                <button id="download_btn" class="button_med"></button>
              </div>

              <button id="save-btn">Save trip</button>
              <button id="cancel-btn">Cancel</button>
            </section>
          </div>
        </div>
        <div class="main-image"></div>

        <!-- The Modal -->
        <div id="myModal" class="modal">
          <!-- Modal content -->
          <div id="modal_content" class="modal_content">
            <span class="close">&times;</span>
          </div>
        </div>
        <!-- The Modal Spinner -->
        <div id="myModalSpinner" class="modal">
          <!-- Modal content -->
          <div id="modal_content2" class="modalSpinner"></div>
        </div>
      </div>

      <div class="side">
        <div class="side_container">
          <div id="entryHolder"></div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer id="footer">
      <div class="socials">
        <i class="fab fa-twitter socials"></i
        ><i class="fab fa-facebook-f socials"></i
        ><i class="fab fa-instagram socials"></i
        ><i class="fab fa-linkedin socials"></i
        ><i class="fas fa-envelope socials"></i
        ><span>&copy Copyright Vitaliy Vlasyuk, 2021</span>
      </div>
    </footer>
  </body>
</html>
