<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Weather Journal</title>
  </head>
  <body>
    <header id="header"></header>
    <div id="app">
      <div class="main">
        <div class="holder headline"><span>Tripo</span><span>dream </span></div>
        <div class="main_wrapper">
          <div class="form">
            <form action="submit" class="search_form panel">
              <div class="input">
                <input type="text" id="city" class="input_field" required />
                <label class="input_label" for="city"
                  >Enter your destination city</label
                >
              </div>
              <div class="input">
                <input
                  type="text"
                  id="datepicker"
                  class="input_field"
                  required
                />
                <label class="input_label" for="datepicker">Dates</label>
              </div>
              <div class="form-btn">
                <button
                  id="generate"
                  onclick="return Client.handleSubmit(event)"
                >
                  &#x1F50D;
                </button>
              </div>
            </form>
          </div>
          <!-- Show trip details -->
          <div id="currentTripWrapper" class="panel"></div>
        </div>
        <div class="main-image"></div>

        <!-- The Modal -->
        <div id="myModal" class="modal">
          <!-- Modal content -->
          <div id="modal_content" class="modal_content">
            <span class="close">&times;</span>
          </div>
        </div>
        <!-- The Modal Spinner -->
        <div id="myModalSpinner" class="modal">
          <!-- Modal content -->
          <div id="modal_content2" class="modalSpinner"></div>
        </div>
      </div>

      <div class="side">
        <div class="side_container">
          <div id="entryHolder">
            <div id="expired-trips"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer id="footer">
      <div class="socials">
        <span>&copy Copyright Vitaliy Vlasyuk, 2021</span>
        <i class="fab fa-github socials"></i>
      </div>
    </footer>
    <script>
      // Check that service workers are supported
      if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('/service-worker.js');
        });
      }
    </script>
  </body>
</html>
