/* -------------------Alerts-------------------- */

.alert {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 9999;
  color: $clr-white;
  font-size: $normal-font-size;
  font-weight: 400;
  text-align: center;
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
  padding: 1rem 5rem;
  -webkit-box-shadow: $alert-shadow;
  box-shadow: $alert-shadow;
}

.alert-success {
  background-color: $alert-success;
}

.alert-error {
  background-color: $alert-error;
}

@media only screen and (max-width: 768px) {
  .alert {
    width: 80%;
    padding: 1rem 2rem;
  }
}
