/*=============== APP ===============*/
#app {
  display: flex;
  background: $background-color-gradient;
  border-radius: $app-radius;
  overflow-y: hidden;
}

.main {
  flex: 1;
  border-radius: $app-radius;

  width: 100%;
  background-image: url('./../images/pexels-tomáš-malík-3607084.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.side {
  flex: 1;
}

.panel {
  background: $background-color-gradient;
  border-radius: $panel-radius;
  box-shadow: $dark-shadow;
}

.headline {
  margin-top: 0.4rem;
  font-size: $headline-font-size;
  font-family: $secondary-font;

  color: #3e065f;
}
.headline :nth-child(odd) {
  color: #3f0713;
}

#footer {
  font-size: calc($small-font-size * 0.85);
}
body {
  min-height: 100vh;
  margin: 0;

  display: grid;
  grid-template-rows: 0px 1fr auto;
}

footer {
  min-height: $footer-height;
}

@media only screen and (max-width: 768px) {
  #app {
    display: block;
    height: auto;
    max-height: none;
    width: 100%;
    margin: 0 auto;
    /* border-radius: 0;
      background: none; */
  }
  .main {
    width: auto;
    height: auto;
    max-height: none;
    /* border-radius: 0; */
  }

  .side {
    padding: 0;
  }
}

@media only screen and (min-width: 1350px) {
  .main {
    max-width: 35vw;
  }
}
