/*=============== APP ===============*/
#app {
  display: flex;
  background: $background-color-gradient;
  border-radius: $app-radius;
  overflow-y: hidden;

  .main {
    flex: 1;
    border-radius: $app-radius;
    width: 100%;
    background-image: url('./../images/pexels-tomáš-malík-3607084.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .side {
    flex: 1;
    width: 100%;
  }
}

.headline {
  padding-top: 0.4rem;
  font-size: $headline-font-size;
  font-family: $secondary-font;
  color: $clr-brand-primary;

  & :nth-child(odd) {
    color: $clr-brand-secondary;
  }
}

@media only screen and (max-width: 768px) {
  #app {
    display: block;
    height: auto;
    max-height: none;
    width: 100%;
    margin: 0 auto;
  }

  .main {
    height: auto;
    max-height: none;
  }

  .side {
    padding: 0;
  }

  .card {
    max-width: 100%;
  }
}

@media only screen and (min-width: 1350px) {
  .main {
    max-width: 35vw;
  }
}
