#currentTripWrapper {
  display: inline-block;
  width: 90%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 1rem;
  visibility: hidden;

  .tripDetails {
    border-radius: $panel-radius;
    margin-top: 1rem;
    height: auto;
    margin: 8%;
    padding: 1.5rem 1.5rem 1.2rem;
    background: $background-color-gradient;
    opacity: 0.92 !important;
    line-height: 1.5;

    .cur_forecast {
      margin-top: 1rem;
      display: inline-flex;
      align-items: center;
      justify-content: center;

      #high_temp,
      #low_temp {
        font-size: 2.1rem;
      }

      #message_forecast {
        margin-bottom: 1rem;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  #currentTripWrapper {
    max-width: 30rem;
  }
}
