footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  // background-color: $background-color-footer;
  padding: 0.2rem 0;
  // p {
  //   font-size: 0.7em;
  //   color: $clr-white;
  // }

  // object {
  //   margin-left: 0.5rem;
  //   height: 1rem;
  //   pointer-events: none;
  // }
}
