footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.2rem 0;
  min-height: $footer-height;
  font-size: calc($small-font-size * 0.85);

  svg {
    margin: 0 0.2rem;
    color: $text-color;
    &:hover {
      color: $clr-grey-5;
    }
  }
}
