.section-center {
  height: 150px;
  position: relative;
  overflow: hidden;
}

.weather-item {
  position: absolute;
  width: 30%;
  opacity: 0;
  transition: var(--transition);
}

.weather-date {
  position: absolute;
  top: -3px;
  bottom: 0;
  left: 0;
  right: 0;
}

.slider_img {
  width: 64px;
  object-fit: cover;
}

.weather-description {
  color: var(--clr-primary-5);
  min-height: 2em;
  line-height: 1em;
  max-width: 115px;
}

.prev,
.next {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 25px;
  margin: 0 0.2rem 0;
  transform: translateY(-5%);
  background: var(--clr-grey-5);
  color: var(--clr-white);
  width: 1.25rem;
  border-color: transparent;
  font-size: 1rem;
  cursor: pointer;
  transition: var(--transition);
}

.prev:hover,
.next:hover {
  background: var(--clr-primary-5);
  color: var(--clr-white);
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

div.activeSlide {
  opacity: 1;
  transform: translateX(120%);
}

div.activeLastSlide {
  opacity: 1;
  transform: translateX(20%);
}

div.activeNextSlide {
  opacity: 1;
  transform: translateX(220%);
}

div.lastSlide {
  transform: translateX(-80%);
}

div.nextSlide {
  transform: translateX(320%);
}
